<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cto51.dao.UserDao">

	<sql id="Column_List">
	id, name, nick_name nickName, photo, mobile_no mobileNo, email, birthday
	</sql>

	<select id="getUser" resultType="UserDto">
		SELECT
		<include refid="Column_List" />
		FROM t_user
		WHERE
		id=#{id,jdbcType=INTEGER}
	</select>

	<select id="findAll" resultType="UserDto">
		SELECT
		<include refid="Column_List" />
		FROM t_user
	</select>

	<insert id="save" parameterType="UserDto">
		INSERT INTO
		t_user (name,
		nick_name, photo, mobile_no, email, birthday)
		VALUES(
		#{name,jdbcType=VARCHAR},
		#{nickName,jdbcType=VARCHAR},
		#{photo,jdbcType=VARCHAR},
		#{mobileNo,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{birthday,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="UserDto">
		UPDATE
		t_user SET
		name =
		#{name,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		photo = #{photo,jdbcType=VARCHAR},
		mobile_no =
		#{mobileNo,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=TIMESTAMP}
		WHERE id =
		#{id,jdbcType=INTEGER}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM t_user where id =
		#{id,jdbcType=INTEGER}
	</delete>

</mapper>