<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>string</title>
</head>
   <h4>循环</h4>
<body>
    <table border="1px">
    	<tr>
    		<td>index</td>
    		<td>id</td>
    		<td>username</td>
    		<td>salary</td>
    	</tr>
        <tr th:each="user , iterStat : ${users}">
        	<td th:text="${iterStat.index}"></td>
       		<td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.salary}"></td>
        </tr>
    </table>
</body>
</html>